Watson-Discovery-Node-RED.json
[{"id":"26540529.0c454a","type":"http in","z":"a195c64e.53d308","name":"","url":"/discovery","method":"get","swaggerDoc":"","x":117,"y":84,"wires":[["57bd9617.787298"]]},{"id":"31e0d518.ddfc1a","type":"debug","z":"a195c64e.53d308","name":"Debug","active":true,"console":"false","complete":"search_results","x":478.687744140625,"y":320.41363525390625,"wires":[]},{"id":"e4ed0398.b8788","type":"function","z":"a195c64e.53d308","name":"回答取り出し","func":"if (msg.search_results.results.length > 0 && msg.search_results.results[0].text) {\n    msg.payload = msg.search_results.results[0].text;\n} else {\n    msg.payload = \"回答できません\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":576,"y":527,"wires":[["c7643c2e.2f56f","368fb630.16185a"]]},{"id":"b31b960b.159038","type":"http response","z":"a195c64e.53d308","name":"","x":400.2205810546875,"y":83.25299072265625,"wires":[]},{"id":"39f97af7.3720b6","type":"change","z":"a195c64e.53d308","name":"質問文の取り出し","rules":[{"t":"set","p":"discoveryparams.query","pt":"msg","to":"payload.q","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":224,"y":306,"wires":[["f1764357.abd21","4c8a7c0.4b18c84"]]},{"id":"f1764357.abd21","type":"debug","z":"a195c64e.53d308","name":"Debug","active":true,"console":"false","complete":"payload","x":385,"y":252,"wires":[]},{"id":"c7643c2e.2f56f","type":"debug","z":"a195c64e.53d308","name":"Debug","active":true,"console":"false","complete":"payload","x":749,"y":525,"wires":[]},{"id":"1a606884.bf0a67","type":"switch","z":"a195c64e.53d308","name":"レスポンスチェック","property":"search_results","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":459,"y":438,"wires":[["368fb630.16185a"],["e4ed0398.b8788"]]},{"id":"da8ab90d.75ace8","type":"comment","z":"a195c64e.53d308","name":"エラーの場合","info":"","x":612,"y":399,"wires":[]},{"id":"76232ced.e0e9a4","type":"comment","z":"a195c64e.53d308","name":"正常の場合","info":"","x":494,"y":482,"wires":[]},{"id":"64c2f390.3d6c7c","type":"comment","z":"a195c64e.53d308","name":"初期表示","info":"","x":84,"y":35,"wires":[]},{"id":"4b8a28c2.756138","type":"comment","z":"a195c64e.53d308","name":"質問応答","info":"","x":84,"y":200,"wires":[]},{"id":"278b0480.c7da2c","type":"http in","z":"a195c64e.53d308","name":"","url":"/discovery/ask","method":"get","swaggerDoc":"","x":130,"y":241,"wires":[["39f97af7.3720b6"]]},{"id":"368fb630.16185a","type":"http response","z":"a195c64e.53d308","name":"","x":712,"y":432,"wires":[]},{"id":"57bd9617.787298","type":"template","z":"a195c64e.53d308","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\">\n    <head>\n        <meta charset=\"utf-8\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n        <meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n        <title>Watson Discovery Test</title>\n        <link href=\"https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT\" crossorigin=\"anonymous\">\n\n        <script type=\"text/javascript\">\n            // Node-REDのWeb API連携\n            var askWatson = function() {\n                // ボタン無効\n                $(\".btn\").addClass(\"disabled\").addClass(\"btn-default\").removeClass(\"btn-primary\");\n                // Watson連携\n                $.ajax({\n                    type: \"GET\",\n                    url: \"./ask\",\n                    dataType: \"text\",\n                    timeout: 10000,\n                    data: {\n                        //質問文を取得してパラメータとして渡す\n                        q: $(\"#question\").val()\n                    }\n                })\n                .done(function(data, textStatus, jqXHR) {\n                    // 通信成功\n                    // フローから返ってきた結果をanswerに入れる\n                    $(\"#answer\").val(data);\n                    // ボタン有効\n                    $(\".btn\").removeClass(\"disabled\").removeClass(\"btn-default\").addClass(\"btn-primary\");\n                })\n                .fail(function(jqXHR, textStatus, errorThrown) {\n                    // 通信エラー\n                    $(\"#answer\").val(\"通信エラー  \" + jqXHR.status + \" : \" + jqXHR.statusText);\n                })\n                .always(function(data) {\n                    // Debug\n                    console.log(data);\n                });\n            }\n           \n            // 質問文入力済み判定\n            var checkLengthQ = function() {\n                if ($(\"#question\").val().length > 0) {\n                    // ボタン有効\n                    $(\".btn\").removeClass(\"disabled\").removeClass(\"btn-default\").addClass(\"btn-primary\");\n                } else {\n                    // ボタン無効\n                    $(\".btn\").addClass(\"disabled\").addClass(\"btn-default\").removeClass(\"btn-primary\");\n                }\n            }\n        </script>\n    </head>\n    \n    <body>\n        <nav class=\"navbar navbar-default\">\n            <div class=\"container-fluid\">\n                <div class=\"navbar-header\">\n                    <a class=\"navbar-brand\" href=\"{{req._parsedUrl.pathname}}\">Watson Discovery Test</a>\n                </div>\n            </div>\n        </nav>\n        <div class=\"container-fluid\">\n            <div class=\"row\">\n                <div class=\"col-xs-1 bg-left\"></div>\n                <div class=\"col-xs-10 bg-main\">\n                    <center>\n                        <h3>労働基準法について質問してください</h3>\n                        <div class=\"form-group\">\n                            <textarea class=\"form-control\" rows=3 id=\"question\" placeholder=\"ここに質問を入力してください\" oninput=\"checkLengthQ()\"></textarea>\n                            <br>\n                            <a class=\"btn btn-default disabled\" id=\"askButton\" href=\"javascript:askWatson()\">質問する</a>\n                        </div>\n                        <br>\n                        <div class=\"form-group\">\n                            <textarea class=\"form-control\" rows=15 id=\"answer\" placeholder=\"Watsonからの回答\" disabled=\"\"></textarea>\n                        </div>\n                    </center>\n                </div>\n                <div class=\"col-xs-1 bg-right\"></div>\n            </div>\n        </div>\n    <body>\n        \n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\" integrity=\"sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js\" integrity=\"sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js\" integrity=\"sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn\" crossorigin=\"anonymous\"></script>\n</html>","x":267,"y":83,"wires":[["b31b960b.159038"]]},{"id":"4c8a7c0.4b18c84","type":"watson-discovery-v1","z":"a195c64e.53d308","name":"","environmentname":"","environment_id":"","collection_id":"","configurationname":"","configuration_id":"","count":"","query":"","filter":"","aggregation":"","return":"","discovery-method":"query","x":326,"y":370,"wires":[["31e0d518.ddfc1a","1a606884.bf0a67"]]}]
